<!DOCTYPE html>
<html>
<head>
	<title> D&D 5E Generator </title>

</head>

<link rel="icon" href="https://lh3.googleusercontent.com/proxy/D28YdgPREJNKYpzNb58s1GiJlYDxBhA4w0re9CpgW3sr0VAW0YqPCof1kLffvOY5BxR7tPJ9LKwdarnKDJPlFOdIe3D7k6gQ">

<body>
	<div id="background">
		<div id="scroll">

				<div id="scroll-top" class="bkg-config"></div>

				<div id="scroll-middle" class="bkg-config">
					<div id="content-holder">

						<div id="screen-0" class="screen" style="display: flex;">
							D&D 5E Generator
						</div>
						<div id="screen-1" class="screen">
							Raça e Subraça
							<form>
								<select id="racas">
									<option>Anão</option>
									<option>Elfo</option>
									<option>Halfling</option>
									<option>Humano</option>
									<option>Draconato</option>
									<option>Gnomo</option>
									<option>Meio-Elfo</option>
									<option>Meio-Orc</option>
									<option>Tiefling</option>
									<option>Aleatório</option>
								</select>
							</form>
						</div>
						<div id="screen-2" class="screen">
							Tela 02
						</div>
						<div id="screen-3" class="screen">
							Tela 03
						</div>










						<div id="button-group">
							<div id="voltar" class="button"></div>
							<div id="novo" class="button"></div>
							<div id="continuar" class="button"></div>
						</div>
					</div>
				</div>

				<div id="scroll-bot" class="bkg-config"></div>

		</div>
	</div>
		
</body>

<script src="./js/script.js"></script>

</html>